body {
    height: 100vh; 
    margin: 0;
    font-family: 'LibreBaskerville', sans-serif;
    background-color: #ebe9e7;
}

@font-face {
    font-family: 'LibreBaskerville'; 
    src: url('./fonts/LibreBaskerville-Regular.ttf'); 
  }
  @font-face {
    font-family: 'Roxborough'; 
    src: url('./fonts/Roxborough\ CF.ttf');
  }
  @font-face {
    font-family: 'TTNorms';
    src: url('./fonts/TTNorms-Medium.otf'); 
  }

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.85); 
    z-index: -1;
}

.full-body-container{
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    width:100%;
    height:100%;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    background-color: #ebe9e7;
}

h1{
    /* margin-bottom: 0;
    margin-right: 3px; */
    display: flex;
    align-items: center;
    font-size: 100px;
    font-family: 'Roxborough', sans-serif;
    font-weight: normal;
}

.input-container{
    display:flex;
    margin-bottom: 50px;
    button {
        background-color: transparent;
        border: none;
        padding-right: 30px;
        transition: 0.3s;
        img {
            width: 40px;
            height: 40px;
        }
    }

    button:hover{
        transform: translateY(10px);
        opacity: 0.5;
    }
}

.input-box{
    border-radius: 50px;
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
    padding:12px;
    width: 600px;
    box-shadow: 0px 3px 7px rgb(0 0 0 / 20%);
    background:whitesmoke;
}

  ::placeholder {
    color: #20a67d;;
  }
  
  ::-ms-input-placeholder { /* Edge 12-18 */
    color: #20a67d;;
  }

.input-box img{
    height: 20px;
    width:20px;
}

.background{
    background-position-x: center;
    background-position-y: -50px;
    background-image: url(./images/title_background.png);
    background-repeat: no-repeat;
    display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        align-self: flex-start;
        padding-left: 5%;
}

.top-text{
    padding-top: 3%;
    display: flex;
    flex-direction: column;
    /* align-items: flex-start;
    justify-content: center;
    align-self: flex-start;
    padding-left: 5%; */

    h1{
        max-width: 50%;
        margin: 10px;
    }
}

.tagline {
    display: flex;
    max-width: 50%;
    h2{
        font-size: 40px;
        font-weight: normal;
    }
}

.input-box input{
    width: 100%;
    margin-left: 10px;
    font-size: 16px;
    border: none;
    outline: 0;
    font-family: 'TTNorms', sans-serif;
    color: #20a67d;
    background-color: whitesmoke;
    
}

#answer-box{
    width: 90%;
    display: grid;
    /* grid-template-columns: auto auto auto; */
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px;

    #answer-amount{
        font-size: 20px;
        grid-column: 1 / -1;
    }
}

.answerContainer{
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    transition: 0.2s;
    animation: fadeIn 1s ease-out 0.5s both;

}
.answerContainer:hover {
    cursor:grab;
    transform:scale(1.01);
    
  }

@keyframes fadeIn {
    0% {
        opacity: 0%;
    }
    100%{
        opacity:100%;
    }
}

.imageContainer {
    width: 100%;
    padding-top: 100%;
    position: relative;
    .category {
        position: absolute;
        top: 0;
        right: 0;
        padding: 8px;
        font-family: 'TTNorms', sans-serif;
        font-size: 12px;
        color: white;
        border-radius: 20px;
        margin-right: 15px;
    }
    .Cultural{
        background-color: mediumblue;
    }
    .Natural{
        background-color: #20a67d;
    }
    .Mixed{
        background-color:darkorchid;
    }

    .similarity_score {
        position: absolute;
        top: 0;
        left: 0;
        padding: 8px;
        font-family: 'TTNorms', sans-serif;
        font-size: 12px;
        color: white;
        border-radius: 20px;
        margin-left: 15px;
    }
    .High{
        background-color: darkgreen;
    }
    .Moderate{
        background-color: peru;
    }
    .Low{
        background-color: darkred;
    }
}

.imageContainer img.siteImage {
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.answerCard{
    /* display: flex;
    flex-direction: column; */
    transition: 0.3s;
    border-radius: 5px;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 5px;
    padding-bottom: 5px;
    box-shadow: 0px 2px 8px 0 rgba(0, 0, 0, 0.1);
    background-color: whitesmoke;
}

.site_title_with_flag {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 8px;
}

.flag_icon {
    width: 45px;
    height: 25px;
    object-fit: cover;
    /* display: inline-block; */
    margin-top: 15px;
}

.site_name{
    font-family: 'Roxborough', sans-serif;
    margin-top: 10px;
}


.short_description{
    font-family: 'LibreBaskerville', sans-serif;
    font-size:15px;
    line-height: 25px;
}

/* Rating as Stars */
.rating {
    --dir: right;
    --fill: rgb(0, 0, 0);
    --fillbg: transparent;
    --star: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12 17.25l-6.188 3.75 1.641-7.031-5.438-4.734 7.172-0.609 2.813-6.609 2.813 6.609 7.172 0.609-5.438 4.734 1.641 7.031z" stroke="%23cccccc" stroke-width="0.6"/></svg>');    --stars: 5;
    --starsize: 20px;
    --symbol: var(--star);
    --w: calc(var(--stars) * var(--starsize));
    --x: calc(100% * (var(--value) / var(--stars)));
    block-size: var(--starsize);
    inline-size: var(--w);
    position: relative;
    touch-action: manipulation;
    -webkit-appearance: none;
    vertical-align: middle;
    margin-bottom: 5px; 
    background-color: whitesmoke;
}

.rating::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--fillbg);
    z-index: 1;
}
  
.rating::-moz-range-track {
    background: linear-gradient(to var(--dir), var(--fill) 0 var(--x), var(--fillbg) 0 var(--x));
    block-size: 100%;
    mask: repeat left center/var(--starsize) var(--symbol);
}
  
.rating::-webkit-slider-runnable-track {
    background: linear-gradient(to var(--dir), var(--fill) 0 var(--x), var(--fillbg) 0 var(--x));
    block-size: 100%;
    mask: repeat left center/var(--starsize) var(--symbol);
    -webkit-mask: repeat left center/var(--starsize) var(--symbol);
}
  
.rating::-moz-range-thumb {
    height: var(--starsize);
    opacity: 0;
    width: var(--starsize);
}

.rating::-webkit-slider-thumb {
    height: var(--starsize);
    opacity: 0;
    width: var(--starsize);
    -webkit-appearance: none;
}

.moreBtn{
    font-family: 'TTNorms', sans-serif;
    color:darkblue;
    background:none;
    border: none;
    transition: 0.3s;
    margin-left: -5px;
}
.moreBtn:hover {
    color:dodgerblue; 
}
#more {display: none;}

/* All the extra info here */
h3, .extra_info {
    font-family: 'TTNorms', sans-serif;
}