<!doctype html>
<title>{% block title %}{% endblock %} - Flaskr</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Kanit&family=Montserrat&family=Open+Sans:wght@500&display=swap" rel="stylesheet">
<body>
    <div class="full-body-container">
        <!-- <img src="{{ url_for('static', filename='images/title_background.png') }}" /> -->
        <div class="top-text">
            <h1> World Heritage Search </h1>
            <div class="tagline">
                <h2>Browse through our collection of UNESCO sites and find your next travel destination.</h2>
            </div>
            <div class="input-container">
                <button type="submit" onClick="filterText()">
                    <img src="{{ url_for('static', filename='images/arrow_icon.png') }}" alt="buttonpng"/>
                </button>
                <div class="input-box" onclick="sendFocus()">
                    <input placeholder="Search for your next UNESCO heritage sites... (e.g. sea, mountain, historic)" id="filter-text-val" onkeyup="filterText()">
                </div>
            </div>
        </div>
        <div id="answer-box">
        </div>
    </div>

    <script>
        let debounceTimeout;

        function answerBoxTemplate(name,description,rating,reviews, similarity_score, tags, id, inscribe_date, category, country, region){
            const tagHtml = tags && tags.length > 0
            ? tags.map(tag => `<span class="tag">#${tag}</span>`).join(" ")
            : `<span>No tags available</span>`;

            const filteredReviews = (reviews || []).filter(r => r && r.trim().length > 0);

            const reviewHtml = filteredReviews.length > 0
            ? `<ol>${filteredReviews.map(r => `<li>${r}</li>`).join("")}</ol>`
            : `<span>No reviews yet.</span>`;
            
            return `
                <div class='imageContainer'>
                    <img class="siteImage" src="/static/images/${id}.jpg" alt="Site image for ${name}"/>
                </div>
                <div class='answerCard'>
                <h3 class='site_name'>${name}</h3>
                <div class='short_description'>${description}</div>
                <div class='extra_info'>
                    <p class='google_rating'> Google Rating: ${rating != null ? rating : "No ratings available"}</p>
                    <div class='reviews'>
                        <strong>Google Reviews:</strong>
                        ${reviewHtml}
                    </div>
                    <p class="similarity_score"> Similarity Score: ${similarity_score}</p>
                    <p class="tags"> Tags: ${tagHtml}</p>
                    <p class="inscribe-date"> Inscribe Date: ${inscribe_date}</p>
                    <p class="category"> Category: ${category}</p>
                    <p class="country"> Country: ${country}</p>
                    <p class="country"> Region: ${region}</p>
                </div>                
            </div>`
        }

        function sendFocus(){
            document.getElementById('filter-text-val').focus()
        }

        function filterText() {
        // Clear existing debounce timer
        clearTimeout(debounceTimeout);

        // Set a new debounce timer
        debounceTimeout = setTimeout(() => {
            const query = document.getElementById("filter-text-val").value;
            if (query.length === 0) {
                document.getElementById("answer-box").innerHTML = "";
                return;
            }

            console.log("Searching:", query);
            fetch("/episodes?" + new URLSearchParams({ title: query }).toString())
                .then((response) => response.json())
                .then((data) => {
                    const container = document.getElementById("answer-box");
                    container.innerHTML = "";  // Clear previous results
                     // This issue doesn't really happen, the console always shows a length of 10 even for unexpected searches
                    if (data?.length == 0) {
                        let tempDiv = document.createElement("div");
                        tempDiv.classList.add('answerContainer');
                        tempDiv.innerHTML = 
                        `<div class='answerCard'>
                            <h3 class='site_name'>No results found.</h3>
                            <div class='short_description'>Try a different search.</div>
                        </div>`
                        container.appendChild(tempDiv);
                        return;
                    }
                    let tempDiv = document.createElement("div");
                    tempDiv.setAttribute("id", "answer-amount");
                    tempDiv.innerHTML = `<h3>${data?.length} Sites Found </h3>`;
                    container.appendChild(tempDiv);

                    data?.forEach(row => {
                        let tempDiv = document.createElement("div");
                        tempDiv.classList.add('answerContainer');
                        tempDiv.innerHTML = answerBoxTemplate(row.Name, row["Short Description"], row.Rating, row.Reviews, row.Similarity_Score, row.Tags, row.id, row["Inscribe Date"], row.Category, row.Country, row.Region );
                        container.appendChild(tempDiv);
                    });
                });
        }, 300);  // Only search after user stops typing for 300ms
        }
            
    </script>
</body>